* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("https://t4.ftcdn.net/jpg/03/25/20/09/360_F_325200970_JAkX8OZHg7JhrndHN2MqXseQIPRKRSTa.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #6d3c75;
    color: #fff;
    padding: 15px;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar ul li:hover {
    background-color: #333;
}

.navbar ul li:hover ul {
    display: block;
}

.navbar ul ul {
    display: none;
    position: absolute;
    background-color: #333;
}

.navbar ul ul li {
    float: none;
}

.navbar ul ul li a {
    padding: 10px;
}

.navbar ul ul li a:hover {
    background-color: #555;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-icons a:hover {
    background-color: #555;
    color: #fff;
}

.social-icons img {
    max-width: 100%;
    height: auto;
}

.form-container {
    height: 600px;
    width: 600px;
    margin: 50px auto;
    
}

.form-container form {
    height: 500px;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-transform: capitalize;
    border-radius: 30px;
    color: rgb(255, 254, 254);
}

.form-container form h3 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin: 5px;
}

.form-container form label {
    font-size: 1.3rem;
    padding: 3px 0;
}

.form-container form input,
textarea {
    padding: 8px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-size: 1rem;
}

.form-container form input[type="button"] {
    align-self: flex-end;
    height: 30px;
    width: 60px;
    font-size: 100%;
    cursor: pointer;
}